<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flikr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80C52EA21C6DD1FE00519A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C52EBE1C6DD1FF00519A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C52EC91C6DD1FF00519A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
